{{ if show_hero_section == true }}
{{ partial:inner-hero-section }}
{{ /if }}

<div class="gallery-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ collection:galleries as="galleries" paginate="true" limit="6" }}
                <div class="gallery-wrapper grid_append">
                    {{ galleries }}
                    <div class="popup-gallery grid-item-append" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="gallery-img">
                            {{ image }}<img src="{{ url }}" alt="">{{ /image }}
                            <div class="plus-btn">
                                <a href="{{ image }}{{ url }}{{ /image }}"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    {{ /galleries }}

                    
                </div>
                {{ paginate }}
                <input type="hidden" class="lastPage" value="{{ total_pages }}">
                <input type="hidden" class="currentPage" value="{{ current_page }}">
                {{ if next_page }} 
                <div class="load-more-wrap loader-btn-box" data-aos="fade-up" data-aos-duration="1000">
                    <div class="btn-button">
                        <a href="{{ next_page }}" class="btn btn-primary ajax-load-more-grid">
                            <img src="{{theme:asset}}assets/image/loading-spinner.svg" alt="loader" class="object-cover animate-spin d-none">
                        Load More</a>
                    </div>
                </div>
                {{ /if }}
                {{ /paginate }} 
                {{ /collection:galleries }}
                
            </div>
        </div>
    </div>
</div>