{{ auth }}
<section class="sign-in-and-sign-up-section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{{ if reset_password_title }}<h2>{{ reset_password_title }}</h2>{{ /if }}
				<form class="reset-password-form">
					<input type="hidden" name="token" value="{{ token }}">
					<div id="reset-password-message"></div>
					<div class="input-wrapper">
						<label>New Password</label>
						<input type="password" name="password">
						<a id="togglePassword" class="toggle-password" href="javascript:;">
									<i class="fa-solid fa-eye-slash"></i>
								</a>
						<span class="field-error text-danger" data-error-for="password"></span>
					</div>
					<div class="input-wrapper">
						<label>Confirm Password</label>
						<input type="password" name="password_confirmation">
						<a id="togglePassword" class="toggle-password" href="javascript:;">
									<i class="fa-solid fa-eye-slash"></i>
								</a>
						<span class="field-error text-danger" data-error-for="password_confirmation"></span>
					</div>
					{{ if rp_button_text }}<button type="submit">{{ rp_button_text }}</button>{{ /if }}
				</form>
			</div>
		</div>
	</div>
</section>
{{ /auth }}