{{ if show_hero_section == true }}
{{ partial:inner-hero-section }}
{{ /if }}

{{ auth }}
<section class="sign-in-and-sign-up-section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sign-in-wrapper active">
					{{ sign_in_section }}
					{{ if title }}<h3 class="sign-title" data-aos="fade-up" data-aos-duration="1000">{{ title }}</h3>{{
					/if }}
					{{ /sign_in_section }}
					<form id="login-form" class="sign-form" autocomplete="off">
						<div id="login-message"></div>
						<div class="input-wrapper">
							<div class="form-field" data-aos="fade-up" data-aos-duration="1000">
								<input class="form-control" type="email" name="email" placeholder=" "
									autocomplete="username">
								<label class=""> Email *</label>
								<span class="field-error text-danger" data-error-for="email"></span>
							</div>

							<div class="password form-field" data-aos="fade-up" data-aos-duration="1000">
								<input class="form-control password" id="password" type="password"
									autocomplete="new-password" name="password" placeholder=" ">
								<label class=""> Password *</label>
								<a id="togglePassword" class="toggle-password" href="javascript:;">
									<i class="fa-solid fa-eye-slash"></i><i class="fa-solid fa-eye"></i>
								</a>
								<span class="field-error text-danger" data-error-for="password"></span>
							</div>
						</div>
						<div class="click-wrapper">
							<div class="form-check" data-aos="fade-up" data-aos-duration="1000">
								<input class="form-check-input" type="checkbox" value="" id="remember">
								<label class="form-check-label" for="remember">Remember Me</label>
							</div>
							{{ sign_in_section }}
							{{ if forgot_password_title }}
							<div class="forgot-password" data-aos="fade-up" data-aos-duration="1000">
								<p><a href="javascript:;" class="forgot-password">{{ forgot_password_title }}</a></p>
							</div>
							{{ /if }}
							{{ /sign_in_section }}
						</div>
						{{ sign_in_section }}
						{{ if button_text }}
						<div class="signin-form-btn" data-aos="fade-up" data-aos-duration="1000">
							<div class="btn-button">
								<button type="submit" class="btn btn-primary">{{ button_text }}</button>
							</div>
						</div>
						{{ /if }}
					</form>
					<div class="form-footer-text text-center" data-aos="fade-up" data-aos-duration="1000">
						<p>
							{{ if no_account_text }}{{ no_account_text }} {{ /if }}
							{{ if sign_up_link_label }}
							<span class="sign-up">
								<a href="javascript:;">{{ sign_up_link_label }}</a>
							</span>
							{{ /if }}
						</p>
					</div>
					{{ /sign_in_section }}

				</div>

				<div class="sign-up-wrapper">
					{{ sign_up_section }}{{ if title }}<h3 class="sign-title">{{ title }}</h3>{{ /if }}{{
					/sign_up_section }}
					<form id="signup-form" class="sign-form">
						{{ csrf }}
						<div class="input-wrapper">
							<div class="form-field">
								<input class="form-control" type="text" name="name" placeholder=" ">
								<label class=""> Name *</label>
								<span class="field-error text-danger" data-error-for="name"></span>
							</div>
							<div class="form-field">
								<input class="form-control" type="text" name="email" placeholder=" ">
								<label class="">Email *</label>
								<span class="field-error text-danger" data-error-for="email"></span>
							</div>
							<div class="form-field">
								<input class="form-control" type="tel" name="number" placeholder=" ">
								<label class="">Phone No. *</label>
								<span class="field-error text-danger" data-error-for="number"></span>
							</div>

							<div class="password form-field">
								<input class="form-control password" id="password1" type="password" name="password"
									autocomplete="new-password" placeholder=" ">
								<label class="">Password *</label>
								<a id="togglePassword1" class="toggle-password" href="javascript:;">
									<i class="fa-solid fa-eye-slash"></i>
								</a>
								<span class="field-error text-danger" data-error-for="password"></span>
							</div>
						</div>
						{{ sign_up_section }}
						<div class="click-wrapper">
							{{ if accept_terms_text }}
							<div class="form-check">
								<div style="width:100%;">
									<input class="form-check-input" type="checkbox" value="1" name="accept_terms_text"
										id="accept">
									<label class="form-check-label" for="accept">{{ accept_terms_text|raw }}
									</label>
								</div>
								<span class="field-error text-danger" data-error-for="accept_terms_text"></span>
							</div>
							{{ /if }}
						</div>
						{{ if button_text }}
						<div class="signin-form-btn">
							<div class="btn-button">
								<button type="submit" class="btn btn-primary">{{ button_text }}</button>
							</div>
						</div>
						{{ /if }}
					</form>
					<div id="signup-message"></div>
					<div class="form-footer-text text-center">
						<p>
							{{ if have_account_text }} {{ have_account_text }} {{ /if }}
							{{ if sign_in_link_label }}
							<span class="sign-in"><a href="javascript:;">{{ sign_in_link_label }}</a></span>
							{{ /if }}
						</p>
					</div>
					{{ /sign_up_section }}

				</div>

				<div class="forgot-password-wrapper">

					{{ if forgot_password_title }}<h3 class="sign-title" data-aos="fade-up" data-aos-duration="1000">{{
						forgot_password_title }}</h3>{{ /if }}

					<form id="forgot-password-form" class="sign-form">
						<div id="forgot-password-message"></div>
						<div class="input-wrapper">
							<div class="form-field">
								<input class="form-control" type="email" name="email" placeholder=" " data-aos="fade-up"
									data-aos-duration="1000">
								<label> Email *</label>
								<span class="field-error text-danger" data-error-for="email"></span>
							</div>
						</div>
						{{ if fp_button_text }}
						<div class="resetPassword-form-btn" data-aos="fade-up" data-aos-duration="1000">
							<div class="btn-button">
								<button type="submit" class="btn btn-primary">{{ fp_button_text }}</button>
							</div>
						</div>
						{{ /if }}
					</form>
					{{ sign_up_section }}
					<div class="form-footer-text text-center" data-aos="fade-up" data-aos-duration="1000">
						<p>
							{{ if have_account_text }} {{ have_account_text }} {{ /if }}
							{{ if sign_in_link_label }}
							<span class="sign-in"><a href="javascript:;">{{ sign_in_link_label }}</a></span>
							{{ /if }}
						</p>
					</div>
					{{ /sign_up_section }}

				</div>

			</div>
		</div>
	</div>
</section>
{{ /auth }}