<!-- jquery.min js -->
<script src="{{ theme:asset src='assets/js/jquery.min.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- waypoints js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<!-- jquery.count js -->
<script src="{{ theme:asset src='assets/js/jquery.counterup.min.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- aos js -->
<script src="{{ theme:asset src='assets/js/aos.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- all.min js -->
<script src="{{ theme:asset src='assets/js/all.min.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- magnific js -->
<script src="{{ theme:asset src='assets/js/jquery.magnific-popup.min.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- bootstrap.bundle js -->
<script src="{{ theme:asset src='assets/js/bootstrap.bundle.min.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- swiper js -->
<script src="{{ theme:asset src='assets/js/swiper-bundle.min.js' }}?v={{ now format="YmdHis" }}"></script>
<!-- custom js -->
<script src="{{ theme:asset src='assets/js/custom.js' }}?v={{ now format="YmdHis" }}"></script>
<script type="text/javascript">

	const newsLetterUrl = "{{ route:newsLetter }}";
	const productFilterUrl = "{{ route:productFilter }}";
	const productCommentAddUrl = "{{ route:productCommentAdd }}";

</script>
