<div class="side-bar-content">
    <div class="side-bar-close">
        <a href="javascript:;" class="close-menu"><i class="fa-solid fa-xmark"></i></a>
    </div>
    <div class="side-bar-text-content">
        <ul class="side-menu">
            {{ nav:header }}
            <li class={{ if children }}header-dropdown{{ /if }}><a href="{{ url ? url : 'javascript:;' }}" class="{{ if url == '/' }} {{ is_current ? 'active' : '' }} {{ else }} {{ is_current || is_parent ? 'active' : '' }} {{ /if }}">{{ title }}</a>
                {{ if children }}
                <ul class="dropdown-content">
                    {{ children }}
                    <li><a href="{{ url }}" class="{{ if is_current || in_current }}active{{ /if }}">{{ title }}</a></li>
                    {{ /children }}
                </ul>
                {{ /if }}
            </li>
            {{ /nav:header }}
        </ul>
    </div>
</div>
<!-- ======= End sidebar ======= -->

<!-- ======= Start header ======= -->
<header class="top-header">
    {{ setting }}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="logo-content">
                    <a href="/">{{ logo }}<img src="{{ url }}" alt="">{{ /logo }}</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="top-contact">
                    <ul>
                        {{ contact_info }}
                        <li>
                            {{ if icon }}<div class="contact-icon"><i class="{{ icon }}"></i></div>{{ /if }}

                            <div class="contact-text">
                                {{ if label }}<strong>{{ label }}</strong>{{ /if }}
                                <a href="{{ url }}">{{ value }}</a>
                            </div>
                        </li>
                        {{ /contact_info }}
                        
                    </ul>
        </div>
    </div>
</div>
</div>
{{ /setting }}
</header>
<!-- ======= End header ======= -->

<!-- ======= Start Sub header ======= -->
<header class="sub-header">
    <div class="container">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col">
                    <div class="main-menu left">
                        <ul>
                            {{ nav:header }}
                            <li class={{ if children }}header-dropdown{{ /if }}><a href="{{ url ? url : 'javascript:;' }}" class="{{ if url == '/' }} {{ is_current ? 'active' : '' }} {{ else }} {{ is_current || is_parent ? 'active' : '' }} {{ /if }}">{{ title }}</a>
                                {{ if children }}
                                <ul class="dropdown-content">
                                    {{ children }}
                                    <li><a href="{{ url }}" class="{{ if is_current || in_current }}active{{ /if }}">{{ title }}</a></li>
                                    {{ /children }}
                                    
                                </ul>
                                {{ /if }}
                            </li>
                            {{ /nav:header }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>