<section class="other-hero-section" {{ setting }}{{ inner_banner_image }}style="background-image:url( {{ url }});" {{ /inner_banner_image }}{{ /setting }}>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="other-hero-content">
                    <div class="container">
                        <div class="other-title-content">
                            <h1 class="title" data-aos="fade-right" data-aos-duration="1000">{{ section_title }}</h1>
                            <p data-aos="fade-up" data-aos-duration="1000"><a href="/">Home</a> 
                                <span class="other-icon"><i class="fa-solid fa-angles-right"></i></span>
                                <span id="sectionTitle">{{ section_title }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>