<p class="text-center {{ if not message }} d-none {{ /if }}" data-aos="fade-up" data-aos-duration="1000">{{ message }}</p>

<div class="all-product-box grid_append">
	{{ products }}
	<div class="product-slider-box grid-item-append" data-aos="fade-up" data-aos-duration="1000">
		<div class="product-images">
			{{ featured_image }}<img src="{{ url }}" alt="">{{ /featured_image }}
			{{ if badge }}
			<div class="main-badge-box">
				<div class="badge-box">
					<div class="text-center">
						<h6>{{ badge }}</h6>
					</div>
				</div>
			</div>
			{{ /if }}
			<div class="product-icon-content">
				<ul>
					<li><a href="/product/{{ slug }}"><i class="fa-solid fa-eye"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="product-text-content text-center">
			<p class="text-danger">{{ if stock == 0 }}Out of Stock{{ /if }}</p>
			<h3><a href="/product/{{ slug }}">{{ title }}</a></h3>
			<div class="product-star">
				{{ range from="1" to="5" }}
				{{ if value <= rating }}
				<i class="fa-solid fa-star"></i>
				{{ else }}
				<i class="fa-regular fa-star"></i>
				{{ /if }}
				{{ /range }}
			</div>
			<div class="product-price"><span>$ {{ sale_price }}/-</span></div>
			<div class="list-text-content">
				<p>{{ short_description }}</p>
				<div class="product-icon-content">
					<ul>
						<li><a href="/product/{{ slug }}"><i class="fa-solid fa-eye"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{{ /products }}
</div>


{{ if products }}
{{ if paginate }}
<span id="paginate-current" class="d-none">{{ paginate.current_page }}</span>
<span id="paginate-total" class="d-none">{{ paginate.total_items }}</span>
<span id="paginate-per-page" class="d-none">{{ paginate.per_page }}</span>

<div class="pagination-part pagination-box">
	<ul class="pagination">

        {{ if paginate.prev_page }}
            <li class="page-item">
                <a class="page-link" data-page="{{ paginate.prev_page }}"  data-url="{{ paginate.prev_page_url }}" href="javascript:;"><img src="{{ theme:asset }}assets/image/left-arrow.png" alt=""></a>
            </li>
        {{ else }}
            <li class="page-item hidden">
                <a class="page-link" href="javascript:;"><img src="{{ theme:asset }}assets/image/left-arrow.png" alt=""></a>
            </li>
        {{ /if }}

        {{ paginate.links }}
            <li class="page-item {{ if page == paginate.current_page }}active{{ /if }}">
                <a class="page-link" data-page="{{ page }}" data-url="{{ url }}" href="javascript:;">
                   {{ page }}
                </a>
            </li>
        {{ /paginate.links }}

        {{ if paginate.next_page }}
            <li class="page-item">
                <a class="page-link" data-page="{{ paginate.next_page }}"  data-url="{{ paginate.next_page_url }}" href="javascript:;">
                	<img src="{{ theme:asset }}assets/image/choose-arrow-r.png" alt="">
                </a>
            </li>
        {{ else }}
            <li class="page-item hidden">
                <a class="page-link" href="javascript:;">
                	<img src="{{ theme:asset }}assets/image/choose-arrow-r.png" alt="">
                </a>
            </li>
        {{ /if }}
	</ul>
</div>
{{ /if }}
{{ /if }}
