<section class="home-hero-section" style="background-image:url({{ background_image  }} {{ url }} {{ /background_image }})">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="home-hero-content">
                    <div class="container">
                        <div class="main-title-content">
                            <h1 class="title" data-aos="fade-right" data-aos-duration="1000">{{ title }}</h1>
                            <p data-aos="fade-right" data-aos-duration="1000">{{ description_1 }}</p>
                            <p data-aos="fade-right" data-aos-duration="1000">{{ description_2 }}</p>
                            <div class="home-hero-btn" data-aos="fade-up" data-aos-duration="1000">
                                {{ if button_text }}
                                <div class="btn-button">
                                    <a href="{{ button_url }}" class="btn btn-primary">{{ button_text }}</a>
                                </div>
                                {{ /if }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>