<!-- ======= Start product-slider section ======= -->
<section class="product-slider-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-slider-title-content custom-title-shape" data-aos="zoom-in" data-aos-duration="1000">
                    <h2 class="sub-title text-center">{{ sub_title }}</h2>
                    <img class="sub_title_svg" src="{{ theme:asset }}assets/image/sub-title-shape.svg" alt="">
                </div>
                <div class="product-slider" data-aos="fade-right" data-aos-duration="1000">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {{ projects }}

                            

                            <div class="swiper-slide">
                                <div class="product-slider-box">
                                    <div class="product-images">
                                        {{ featured_image }}<img src="{{ url }}" alt="{{ title }}">{{ /featured_image }}
                                        <div class="product-icon-content">
                                            <ul>
                                                

                                                <li><a href="/product/{{ slug }}"><i class="fa-solid fa-eye"></i></a></li>

                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-text-content text-center">
                                        <p class="text-danger">{{ if stock == 0 }}Out of Stock{{ /if }}</p>
                                        <h3><a href="/project/{{ slug }}">{{ title }}</a></h3>
                                        <div class="product-star">
                                            {{ range from="1" to="5" }}
                                            {{ if value <= rating }}
                                            <i class="fa-solid fa-star"></i>
                                            {{ else }}
                                            <i class="fa-regular fa-star"></i>
                                            {{ /if }}
                                            {{ /range }}
                                        </div>
                                        <div class="product-price"><span>$ {{ sale_price }}/-</span></div>
                                    </div>
                                </div>
                            </div>
                            {{ /projects }}
                        </div>
                    </div>
                </div>
                <div class="choose-slider-arrow">
                    <div class="swiper-button-prev">
                        <div class="arrow-box">
                            <img src="{{ theme:asset }}assets/image/choose-arrow-l.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        <div class="arrow-box">
                            <img src="{{ theme:asset }}assets/image/choose-arrow-r.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= End product-slider section ======= -->